# Build Folders
bin/
obj/
out/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Publish folders
publish/

# Dotnet tool files
*.dotnet_tools/